@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'poppins', sans-serif;
}
img {
    max-width: 100%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 130px 0 0 0;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 25px;
    color: aqua;
    text-transform: uppercase;
    font-weight: 800;
}
.menu .navbar ul li{
    position: relative;
    float: left;

}
.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: black;
    display: block;

}
.menu .navbar ul li a:hover{
    color: aqua;
}
#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu label {
    cursor: pointer;
    display: none;
}
.submenu{
    position: relative;
}
.submenu #carrito{
    display: none;
}

.submenu:hover #carrito{
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: black;
    padding: 20px;
    min-width: 400px;

}
table{
    width: 100%;
}
th, td{ 
    color: bisque;
}
.borrar {
    background-color: chartreuse;
    border-radius: 50%;
    padding: 5px 10px;
    color: #000;
    font-weight: 800;
    cursor: pointer;

}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-txt {
    flex-basis: 50%;
    margin-right: 25px;
}

span{
    color: aqua;
    font-size: 17px;
    font-weight: 600;
    display: block;
    margin-bottom: 25px;
}

.header-txt h1{
    font-size: 70px;
    text-transform: capitalize;
    line-height: 1;
    color: #000;
    margin-bottom: 35px;

}

.header-txt p {
    font-size: 17px;
    color: grey;
    margin-bottom: 35px;

}
.butons{
    display: flex;

}

.btn-1 {
    display: inline-block;
    padding: 13px 25px;
    background-color: aqua;
    margin-right: 20px;
    color: azure;
    text-transform: capitalize;
    margin-bottom: 100px;
    cursor: pointer;
    
}
.btn-1:hover{
    background-color: black;
    
}

.header-img{
    flex-basis: 50%;
    text-align: center;
}
.header-img img {
    height: 550px;

}


.oferts {
    padding:  100px 0;
    display: flex;
    justify-content: space-between;

}

.ofert-1 {
    flex-basis: calc(33.3% - 20px);
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.b1 {
    background-color: aqua;
}

.b2 {
    background-color: cornflowerblue;
}
.b3 {
    background-color: lightblue;

}

.ofert-txt {
    flex-basis: 50%;

}

.ofert-txt h3 {
    color: azure;
    font-size: 20px;


}

.ofert-txt a {
    color: azure;
}

.ofert-img{
    flex-basis: 50%;

}

.products {
    padding: 0 0 50 px 0;
    text-align: center;
}

h2 {
    font-size: 40px;
    color: #000;
}

.box-container {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.box {
    border-top: 2px solid #14a5d1;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
    background-color: aliceblue;
    display: none;
}
.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3),
.box:nth-child(4),
.box:nth-child(5),
.box:nth-child(6),
.box:nth-child(7),
.box:nth-child(8) {
    display: inline-block;
}

box img {
    height: 200px;

}
.product-txt h3 {
    font-size: 20px;
    color: #000;
    margin-bottom: 10px;

}
.product-txt p{
    margin-bottom: 25px;
    color: rgb(16, 38, 240);
}

.precio {
    font-size: 17px;
    font-weight: 700;
    color: #14a5d1 !important;
}

.btn-2, .btn-3 {
    background-color: aqua;
    margin-top: 50px;
    display: inline-block;
    padding: 11px 35px;
    border-radius: 25px;
    color: aliceblue;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0, 0.2);
}

.btn-2:hover, .btn-3:hover {
    background-color: #000;
}

.btn-3 {
    margin: 0;
    padding: 8px 25px;
    border-radius: 5px;

}

.testimonial {
    padding: 100px 0;
    text-align: center;
}

.testimonial-content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.testimonial-1 {
    flex-basis: calc(50% - 20px);
    padding: 50px;
    text-align: left;
    background-color: aliceblue;
    border-top: 5px solid #14a5d1;
}

.testimonial-1 img {
    width: 100px;
}

.testimonial-1 h4 {
    font-size: 17px;
    color: #000;

}

.testimonial-1 p {
    color: darkgray;
    margin-bottom: 25px;
}

.footer {
    background-color: rgb(22, 109, 209);
    padding: 100px 0;

}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link a {
    color: aqua;
    display: block;
    margin-bottom: 10px;
}

.link a:hover {
    color: aqua;
}

@media (max-width:991px) {

    .menu {
        padding: 20px;

    }

    .menu label{
        display: inherit;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left:0;
        right: 0;
        background-color: rgb(20, 163, 220);
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .logo {
        display: none;
    }

    .menu .navbar ul li a:hover {
        color: aliceblue;
    }
    .submenu:hover #carrito {
        width: 100%;
    }
    .header {
        padding: 50px 0 0 0;
    }

    .header-content {
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }

    .header-txt {
        margin-right: 0;
    }

    .butons {
        justify-content: center;
    }

    .btn-1 {
        margin-bottom: 0;
    }
    .header-img{
        display: none;

    }
    .oferts {
        padding: 30px;
        flex-direction: column;

    }

    .ofert-1 {
        margin-bottom: 15px;

    }
    .products {
        padding: 0 30px 30px 30px;
    }
    .testimonial {
        padding: 30px;
    }

    .testimonial-content {
        margin-top: 20px;
        flex-direction: column;
    }

    .testimonial-1 {
        padding: 25px;
        margin-bottom: 25px;
    }

    .footer {
        padding: 30px;
    
    }
    .footer-content {
        flex-direction: column;
        text-align: center;

    }

}
#ground {
    width: 900px;
    height: 900px;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotateX(90deg);
    transform: translate(-50%, 50%) rotatex(90deg);
    background: -webkit-radial-gradient(center center, farthest-side, #9993,transparent);

}
@-webkit-keyframes spin {
    from{
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    } to {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@keyframes spin {
    from{
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    } to {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@-webkit-keyframes spinRevert {
    from{
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    } to {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}

@keyframes spinRevert {
    from{
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    } to {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}
#drag-container, #spin-container{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(-10deg);
    transform: rotateX('-10deg');
}
#drag-container img, #drag-container video{
    -webkit-transform-style: preserve-3d;
    transform-style:preserve-3d;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 200px;
    font-size: 50px;
    text-align: center;
    -webkit-box-shadow: 0 0 8px #fff;
    box-shadow: 0 0 #fff;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
}

#drag-container img:hover, #drag-container video:hover {
    -webkit-box-shadow: 0 0 15px #fff;
    box-shadow: 0 0 15px #fff;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0006);

}

#drag-container p {
    font-family: serif;
    position: absolute;
    padding-top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotateX(90deg);
    transform: translate(-50%, -50%) rotateX(90deg);
    color: #000;
    
}
/* Estilos para los títulos de la tabla */
#lista-carrito thead {
    position: sticky;
    top: 0;
    background-color: black;
    color: white;
    z-index: 1; /* Asegura que los títulos estén por encima del contenido */
}

/* Estilo para las celdas de la tabla */
#lista-carrito td {
    vertical-align: middle; /* Centra el contenido verticalmente */
}

/* Estilo para la imagen en la tabla */
#lista-carrito img {
    max-width: 100px; /* Ajusta el tamaño máximo de la imagen */
    height: auto; /* Ajusta la altura automáticamente */
}
